.course-container {
  height: 160px;
  background-color: #f5f5f5;
  width: 100%;
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border: solid 1px #f0f0f0;
}

.avatar {
  height: 120px;
  width: 120px;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.content .name {
  color: #333;
  font-size: 40px;
}

.content .teacher {
  color: #666;
  font-size: 30px;
}
