page {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
}

input {
  background-color: #ffffff;
  border: solid 1px #e4e4e4;
  box-sizing: border-box;
  width: 100%;
  padding: 25px;
  height: 100px;
}

.float-button {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 20px;
  right: 20px;
}

.course-card {
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 10px;
}

.course-card text:first-child {
  font-weight: bold;
  font-size: 38px;
}

.course-card text:last-child {
  color: #004d61;
}
